extends /layout/news-layout
block content
    while i < 8
        +CreatePostCard(item.title, item.date, item.image, item.content, item.className)
        -i++
    +b.pagination
        +e.A().element 1
        +e.A().element.pagination__element--active 2
        +e.A().element 3
