@import '../../components/contacts-map/contacts-map'
@import '../../components/contacts-info/contacts-info'


@media(max-width 720px)
    .contacts-wrapper
        display flex
        flex-wrap wrap
        // .contacts-info
        