@import '../../components/main_content/main_content'
@import '../../components/main-slider/main-slider'
@import '../../components/wrapper/wrapper'
@import '../../components/filter/filter'
@import '../../components/news-wrapper/news-wrapper'
@import '../../components/video-container/video-container'
