extends /layout/news-layout
block heading
    .heading Еще новости
block content
    while i < 4
        +CreatePostCard(item.title, item.date, item.image, item.content, item.className, 'new.html')
        -i++