.checkout-btn-group
    button(href="market.html",  class='button backwards-btn' type="button") Вернуться к покупкам
    span.checkout-total ИТОГО:&nbsp;&nbsp;&nbsp;&nbsp;
        span.value #{item.oldPrice} грн
    button(type="submit", class='button checkout-btn') Заказать