.checkout-btn-group
    .backwards-btn
            width auto
            float left
            padding 9px 15px  9px 32px
            background #3c1252 url('../images/left_arrow.png') no-repeat 7% center
            
            &:hover
                background #90268e url('../images/left_arrow.png') no-repeat 2% center
            
    .checkout-total
        float right
        margin-right 20px
        display inline-block
        width auto
        line-height 37px
        height 37px
        font-size 20px
        color #414141
        font-family helveticaneuecyr-bold
        .value
            color $dark-purple
    .checkout-btn
        float right