-var states = ["АР Крым,Винницкая область,Волынская область,Днепропетровская область,Донецкая область,Житомирская область,Закарпатская область,Запорожская область,Ивано-Франковская область,Киевская область,Кировоградская область,Луганская область,Львовская область,Николаевская область,Одесская область,Полтавская область,Ровенская область,Сумская область,Тернопольская область,Харьковская область,Херсонская область,Хмельницкая область,Черкасская область,Черниговская область,Черновицкая область"]

.container-fluid.checkout-form.clearfix
    .row
        .form-wrapper
            h1.heading ОФОРМЛЕНИЕ ЗАКАЗА
            p.subheading * Обязательные для заполнения поля
            FORM.form.clearfix(action="" id="checkout-form")
                .form-section
                    p.heading Заполните данные
                    .control-group
                        input(type="text" name="name" placeholder="Имя*" data-validation="length alphanumeric" data-validation-length="3-42"  data-validation-error-msg="Имя не может быть короче 3 символов").form-control
                    .control-group
                        input(type="number" name="tel" placeholder="Телефон*"  data-validation="length number" data-validation-length="10"  data-validation-error-msg="Введите номер в формате XXX XXX XX XX").form-control
                    .control-group
                        input(type="text" name="email" placeholder="E-mail" data-validation="email" data-validation-error-msg="Недействительный адрес почты").form-control
                    .control-group
                        textarea(placeholder ="Комментарий к заказу").form-control
                .form-section
                    p.heading Выберите способ доставки
                    .control-group
                        input(name="delivery" type="text" placeholder="Достака*" data-sanitize="trim" data-validation="length" data-suggestions="Новая почта, Интайм, Деливери, Самовывоз" data-validation-length="3-42" data-validation-error-msg="Введите тип доставки").form-control.delivery
                        
                    .control-group
                        input(name="state" type="text" placeholder="Введите область*" data-sanitize="trim" data-validation="length" data-suggestions=states, data-validation-length="3-42" data-validation-error-msg="Введите область").form-control.state
                        
                    .control-group
                        input(name="city" type="text" placeholder="Введите город*" data-sanitize="trim" data-validation="length" data-validation-length="3-42" data-validation-error-msg="Введите город").form-control.city
                            
                            
                    .control-group    
                        input(name="number" type="number" placeholder="Номер отделения*" data-validation="length" data-validation-length="min1" data-validation-error-msg="Введите номер отделения").form-control.form-control--number

                    .radio-group.clearfix.delivery
                        .radio-group1
                            input(type="radio" name="delivery" id="warehouse" value="warehouse-warehouse" checked).form-control
                            label(for="warehouse") склад-склад
                        .radio-group2
                            input(type="radio" name="delivery" id="house" value="warehouse-house").form-control
                            label(for="house") склад-дом
                    
                .form-section
                    p.heading Способ оплаты
                    .radio-group.clearfix.payment
                        .radio-group1
                            input(type="radio" name="cash" id="cash" value="cash" checked).form-control
                            label(for="cash") Наличный расчет
                        .radio-group2
                            input(type="radio" name="cash" id="no-cash" value="no-cash").form-control
                            label(for="no-cash") Безналичный расчет
                    button(type="submit", class='button checkout-btn button--rounded') Оформить заказ
                    
