.container-fluid.checkout-form.clearfix
    .row
        .form-wrapper
            .heading ОФОРМЛЕНИЕ ЗАКАЗА
            FORM.form.clearfix
                .form-section
                    p.heading <span class="order"> 1 </span> Заполните данные
                    input(type="text" name="name" placeholder="Имя*").form-control
                    input(type="number" name="tel" placeholder="Телефон").form-control
                    input(type="email" name="email" placeholder="E-mail").form-control
                    textarea(placeholder ="Комментарий к заказу").form-control
                .form-section
                    p.heading <span class="order"> 2 </span> Выберите способ доставки
                    input(type="text" name="name" placeholder="Имя*").form-control
                    input(type="number" name="tel" placeholder="Телефон").form-control
                    input(type="email" name="email" placeholder="E-mail").form-control
                    input(type="text" name="name" placeholder="Имя*").form-control
                    .radio-group.clearfix
                        input(type="radio" name="delivery" id="warehouse" value="warehouse-warehouse" checked).form-control
                        label(for="warehouse") склад-склад
                        input(type="radio" name="delivery" id="house" value="warehouse-house").form-control
                        label(for="house") склад-дом
                    
                .form-section
                    p.heading <span class="order"> 1 </span> Способ оплаты
