-var item = 'assets/images/gear.png'
-var dropdown_item = {src:'item.html', text: 'Lorem ipsum X550-zx'}
-var i = 0



.container-fluid.wrapper.clearfix
    include /components/main-slider/main-slider
    include /components/filter/filter
            

