.wrapper
    z-index 2
    position relative
    margin-top 40px
    .filter
         padding-top 260px
   
   
@media (max-width 1199px)
    .wrapper
        margin-top 0
        .filter
            padding-top 20%   

		
