.filter
    padding-top 60px
    
    background url('../images/top_bg.png') no-repeat 
    background-size cover
    .filter-menu
        display flex
        justify-content space-between
        position relative
        flex-wrap wrap
        z-index 0
        &:after
            position absolute
            content ''
            background url('../images/strike-through.png') no-repeat 
            background-size contain
            width 120%
            height 10px
            left -9%
            top 50%
            z-index -1
        .item
            height 130px
            width calc(1060px / 6.5)
            cursor pointer
            &:hover .media__image
                bottom 128px
            &:hover .item__text:after
                content ''
                bottom -20px
                width 0
                height 0
                display block
                opacity 1
                transform scale(1)
            .media
                height 129px
                position relative
                overflow hidden
                &__image
                    margin 0 auto
                    display block
                    bottom 0
                    position relative
            &__text
                display block
                color $purple
                text-align center
                font-size 14px
                height 3em
                line-height 1em
                position relative
                &:after
                    transform scale(0)
                    opacity 0
                    left calc(50% - 10px)
                    position absolute
                    content ''
                    bottom -30px
                    transition .2s ease all
                    border-top 10px solid transparent
                    border-right 10px solid transparent
                    border-left 10px solid transparent
                    border-bottom 10px solid #330154
                    
    .filter-dropdown
        margin-top 47px
        position relative
        min-height 46px
        top 14px
        .dropdown
            margin-right 40px
            display flex
            justify-content flex-start
            flex-wrap wrap
            background $dark-purple /*url('../images/close.png') no-repeat right center*/
            justify-content space-between
            padding 15px
            
            .item
               
                font-family 'helveticaneuecyr-bold'
                color #fff
                font-size 12px
                text-transform uppercase
                margin-right 30px            
                cursor pointer
                position relative
                display block
                &:hover
                    color $purple
                .links-wrapper
                    width 196px
                    left -15px
                    border-right 1px solid transparent
                    top 28px
                    position absolute
                    display none
                    background-color $dark-purple
                    z-index 1
                    &--block
                        display block
                    .element
                        &__link
                            padding 10px
                            
                            cursor pointer
                            display block
                            text-decoration none
                            color #fff
                            &:hover
                                color $purple
        .close-btn
            position absolute
            right -0px
            top 0 
            width 51px
            height 44px
            background url('../images/close.png') no-repeat center center
            background-size cover
            cursor pointer
					
			
				

@media(max-width 1199px)
    .filter
        padding-bottom 40px
        .filter-dropdown
            margin-top 5px
            .dropdown
                padding 0
                display block
                margin-right 0
                .item
                    position relative
                    padding 15px 0
                    margin-right 0
                    &::after
                        
                        content ''
                        position absolute
                        background url('../images/down.png') no-repeat center center
                        width 20px
                        height 20px
                        top 15px
                        right 10px
                        transition .2s ease all
                        
                    &--active
                        &::after
                            content ''
                            position absolute
                            transform rotate(-180deg)
                                    
                    
                    &__text
                        padding-left 10px
                    .links-wrapper
                        margin-top 15px
                        position initial
                        left 0
                        background-color #570f6b
                        width 100%
                        .element
                            border-bottom 1px solid #160124
                            position relative
                            &::after
                                content ''
                                position absolute
                                background url('../images/right.png') no-repeat center center
                                width 20px
                                height 20px
                                top 8px
                                right 10px
               .close-btn
                    display none
                            
        .filter-menu
            &:after
                width 100%
                background none
            .item
                margin 40px auto
                &__text
                    &:after 
                        border 0
                
                



@media(max-width 680px)
    .filter
        .filter-dropdown
            .dropdown
                display block
                .item
                    position relative
                    padding 15px 0
                    margin-right 0
                    &::after
                        
                        content ''
                        position absolute
                        background url('../images/down.png') no-repeat center center
                        width 20px
                        height 20px
                        top 15px
                        right 10px
                        transition .2s ease all
                        
                    &--active
                        &::after
                            content ''
                            position absolute
                            transform rotate(-180deg)
                                    
                    
                    &__text
                        padding-left 10px
                    .links-wrapper
                        margin-top 15px
                        position initial
                        left 0
                        background-color #570f6b
                        width 100%
                        .element
                            border-bottom 1px solid #160124
                            position relative
                            &::after
                                content ''
                                position absolute
                                background url('../images/right.png') no-repeat center center
                                width 20px
                                height 20px
                                top 8px
                                right 10px
         
                    
            