-var i = 0

.container-fluid.video
    .row
        .heading Видео
        .items-wrapper.clearfix
                while i < 5
                    a.video-item.youtube(
                        href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent"
                    )
                        p.title Lorem ipsum Aute dolor reprehenderit id Duis.
                        img(src="assets/images/smile.png").image
                    -i++
