.container-fluid.checkout-info
    .row
        +b.checkout-info-wrapper.clearfix
            +e.image-wrapper
                .helper
                img(src="assets/images/info.png")

            +e.P.text Ваш заказ будет обработан в течении часа и с вами свяжется наш менеджер по продажам для уточнения оплаты и времени доставки.
