.checkout-info
    margin-bottom 40px
    display none
    .checkout-info-wrapper
        padding 56px 20px 60px 49px
        border 1px solid $purple
        border-radius 10px
        position relative
        &__image-wrapper
            width 103px
            top calc(50% - 52px)
            position absolute
            img
                max-width 100%
        &__text
            display inline
            
            float right
            max-width 70%
            font-size 24px
            
            color $dark-purple
            font-family helveticaneuecyr-roman
@media(max-width 721px)
    .checkout-info
        display block
        
@media(max-width 480px)
    .checkout-info
        .checkout-info-wrapper
            padding 48px 20px 40px 4%
            &__text
                font-size 18px
                max-width 60%
