extends /layout/layout
block content 
    .main-container.clearfix
            include /components/navbar/navbar
            include /components/checkout-wrapper/checkout-wrapper
    block additional-scripts
        link(href="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css"
    rel="stylesheet" type="text/css")




            
