extends /layout/layout
block content 
    .main-container.clearfix
            include /components/navbar/navbar
            include /components/contacts-map/contacts-map
            include /components/contacts-info/contacts-info
block additional-scripts
   script(src="https://maps.google.com/maps/api/js?callback=initMap" async defer)



            
