extends /layout/layout
block content 
    .main-container.clearfix
            include /components/navbar/navbar
            //- include /components/main-slider/main-slider
            include /components/wrapper/wrapper
            include /components/main_content/main_content
            include /components/news-wrapper/news-wrapper
            include /components/video-container/video-container


            
