extends /layout/layout
block content 
    .main-container.clearfix
            include /components/navbar/navbar
            include /components/new/new           
            include /components/new-footer/new-footer           

            
