-var content = ['Lorem ipsum Esse ut voluptate anim adipisicing Excepteur ullamco ex minim consequat incididunt ea nulla ad et consectetur aute nisi incididunt do in in Duis eu consectetur dolore Duis dolore id laboris officia elit cupidatat enim ut deserunt.','Lorem ipsum Elit laboris pariatur irure culpa ut id eiusmod Excepteur reprehenderit est do voluptate ullamco qui cillum qui dolor mollit proident dolor quis nisi labore amet ut est dolore dolor sunt.','Lorem ipsum Officia do ut sit pariatur nulla incididunt ea in laboris mollit exercitation aliqua laborum dolore cupidatat quis fugiat anim sunt sunt non aute culpa proident consequat minim reprehenderit dolor esse anim dolore ut mollit eu exercitation laborum esse ut officia nisi sed ad voluptate elit mollit labore consectetur enim dolore laborum reprehenderit irure nulla eu aliquip elit voluptate et fugiat veniam irure proident sint laborum ut eu reprehenderit pariatur ea in amet ea in laborum laboris do cillum fugiat officia in enim anim exercitation aliquip exercitation ad dolore voluptate ut laboris sunt proident veniam dolor sed aliqua labore cupidatat magna culpa consequat anim dolor sit id veniam quis nulla aute amet ullamco quis deserunt commodo nostrud aliqua ex ut dolore nisi veniam deserunt reprehenderit irure in sunt adipisicing in labore reprehenderit minim nisi quis.']

.container-fluid.market-legend
    .row
        .title Lorem ipsum Deserunt do fugiat amet.
        .content 
            each el, i in content
                p.paragraph= el