.contacts-map
    #map 
        height 400px
        a[href^="http://maps.google.com/maps"]
            display none !important
        a[href^="https://maps.google.com/maps"]
            display none !important

        .gmnoprint a, .gmnoprint span, .gm-style-cc 
            display none

        .gmnoprint div 
            background none !important
@media(max-width 1199px)
    .contacts-map
        #map 
            height 200px
@media(max-width 720px)
    .contacts-map
        order 2
