extends /layout/video-layout.pug

block content
    .videos-wrapper.clearfix
        while i < 8
            a.video-page-item.youtube(
                        href="http://www.youtube.com/embed/VOJyrQa_WR4?rel=0&amp;wmode=transparent"
                    )
                p.title Lorem ipsum Aute dolor reprehenderit id Duis.
                .image-wrapper
                    img(src="assets/images/smile.png").image
            -i++
block optional
    include /components/pagination/pagination

