.container-fluid.heading.drop-shadow.curved.curved-hz-1
    +b.navbar.row
        +b.heading
            +b.A(href='index.html').left-logo
                +e.IMG(src="assets/images/xteer_logo.png").img
            +b.contact
                +e.A(href="tel:+380675164666").number +38 (067) 516-46-66
                +e.A(href="tel:+380675164666").number +38 (067) 516-46-66
            +b.delivery
                +e.P.text Доставка по всей украине
            +b.languages
                +b.SELECT.select
                    +e.OPTION.option ru
                    +e.OPTION.option ua
                    +e.OPTION.option en
                +b.SELECT.select
                    +e.OPTION.option uah
                    +e.OPTION.option rur
                    +e.OPTION.option usd
    			
            +b.right-logo
                +e.IMG(src="assets/images/levada_logo.png").img
        +b.slogan.lg-hidden 
            span.slogan__blue Левада
            span.slogan__red ойл
            span.slogan__white Официальный представитель в украине
include navigation