.item-main
    .aside-filters
        @extends .market .aside-filters

.item-main-card
    padding-top 40px
    
    &__title
        @extends .main .post-card__title
        text-transform uppercase
        font-size 1em
        padding-bottom 34px
        line-height 1em
        height auto
    .media
        float left
        position relative
        width 450px
        border 1px solid #e1e1e1
        border-radius 7px
        padding 20px
        &__image
            display block
            width 100%
            height auto
            margin 0 auto
        &__badge
            position absolute
            top 0
            left 0
            color #fff
            text-transform uppercase
            background-color olive
            padding 5px 10px
            border-radius 7px
            border-top-left-radius 0
            border-top-right-radius 0
    
    .text
        margin-left 470px
        
        &__title
            
            @extends .main .post-card__title
            text-transform uppercase
            display inline-block
            height auto
            margin-right 20px
            margin-bottom 20px
            padding-bottom  0
            font-size 1em
            line-height 1em
            cursor pointer
            &--active
                color $purple
            &:hover
                color $purple
            
                
            & + .text__title
                border-left 3px solid #e8e8e8
                padding-left 20px
        .text-container
            max-height 300px
            
            .description
                &__element
                    color #464646
                    padding-bottom 10px
                    font-size .9em
                    line-height 1em
            .table-description
                width 100%
                .table-block
                    &:nth-child(odd)
                        background-color  #f3f3f3
                    &__element
                        
                        @extends .item-main-card .text .text-container .description__element
                        padding 10px
            .add-info
                width 100%
                margin 52px 0 42px
                font-family helveticaneuecyr-bold
                font-size 12px
                &__article
                    color #6d6d6d
                
                &__avialable
                    position relative
                    text-transform uppercase
                    color #2d8439
                    margin-left 28px
                    padding-left 21px
                    &::before
                        content ''
                        position absolute
                        left 0
                        top 0px
                        height 12px
                        width 12px
                        border-radius 100%
                        background-color #2d8439
    .order-details
        @extends .main
        background-size cover
        margin-left 470px
        &:before 
            height 50px
        .order-form
            display flex
            flex-wrap wrap
            justify-content flex-start
            vertical-align middle
            width 100%
            background-color transparent
            .element
                display inline
                float left
                margin 0 auto
                
                &.quantity
                    height 32px
                    line-height 32px
                    
                    .element__select,.element__quantity
                        text-align center
                        display inline-block
                        width 100px
                        height 32px
                        border-radius 7px
                        border 1px solid #c4c4c4
                        border-style solid
                        &:focus
                            outline none
                    .element__quantity
                        margin-left 5px
                        width 82px
                        
                &:first-child
                    margin-left 0
                    height 32px
                    line-height 32px
                &:last-child
                    margin-right 0
                &__new,&__old
                    font-family helveticaneuecyr-bold
                    font-size 2rem
                &__new
                    color $dark-purple
                &__old
                    margin 0 auto
                    color #bbbbbb
                    text-decoration line-through
                .btn
                    width 100px
    .buttons-wrapper
        @extends .main
        margin 40px 0 0
        width 100%
        &:before
            height 50px
        
        .btn
            @extends .about-wrapper .image .btn
            width 49%
            height 88px
            
            float left
            background #e8e8e8 url('../images/adobe.png') no-repeat calc(50% - 85px) center
            &:hover
                
                background #e1e1e1 url('../images/adobe.png') no-repeat calc(50% - 90px) center
            
            
            & + .btn
                float right
                
@media(max-width 1199px)
    .item-main-card
        .media
            width 60%
            margin 0 auto
            float none
            &__image
                max-width 100%
        .text
            margin-top 20px
            margin-left 0
            .text-container
                .add-info
                    text-align center
        .order-details
            width 100%
            margin-left 0
        
@media(max-width 720px)
    .item-main-card
        .media
            width 100%
        .order-details
            .order-form
                .quantity
                    margin-right 0
                .order-btn
                    display block            
                    margin 20px calc(50% - 50px) 0
        .buttons-wrapper
            padding-bottom 0
@media(max-width 480px)
    .item-main-card
        .order-details
            .order-form
                .price
                    width 100%
                    display flex
                    justify-content center
                    &>*
                        margin 0 auto
                    
                .quantity
                    margin-right auto
                    margin-top 20px
                .order-btn
                    display block            
                    margin 20px calc(50% - 50px) 0