.items
    width calc(1180px / 6 * 5 - 10px)
    margin 15px 0 15px 10px
    display flex
    flex-wrap wrap
    justify-content space-between
    
    .item-card
        display block
        width calc(100% / 5 - 19px)
        margin 20px 0 0 0 !important
        text-decoration none
        &:nth-child(5n + 5)
            margin-right 0
        .select
            display block
            width 80%
            height 33px
            margin 10px auto 0
            border 1px solid #c4c4c4
            border-radius 7px
            cursor pointer
            &:focus
                outline none
            option:hover 
                cursor pointer
        .button
            width 80%
            margin 10px auto
            border 0
            cursor pointer
@media(max-width 1199px)
    .items
        width 100%
        margin-left 0
        padding-bottom 40px
        .item-card
            width calc(100% / 3 - 10px)
            &:nth-child(5n + 5)
                margin 10px auto 0
            &:nth-child(3n + 1)
                margin 10px auto 0
            &:nth-child(3n + 3)
                margin 10px auto 0
                
@media(max-width 500px)
    .items
        .item-card
            width calc(100% / 2 - 5px)
            margin 5px auto 0 !important
            &__price
                margin-left 10px
            .price-old
                margin-right 10px
            