.container-fluid.drop-shadow.curved.curved-hz-1.slider
    .row
        include /components/breadcrumbs/breadcrumbs
    .row.market
        include /components/market-filter/market-filter
        include /components/market-list/market-list
include /components/item-news/item-news