.container-fluid.footer-navigation
    include /components/navbar/navigation
.container-fluid.footer-wrapper
    .row.footer
        +b.socials.item.clearfix
            h5.title мы в соцсетях
            +e.A(href="https://twitter.com" target="_blank").icon.twitter
            +e.A(href="https://odnoklassniki.com" target="_blank").icon.klass
            +e.A(href="https://facebook.com" target="_blank").icon.facebook
            +e.A(href="https://vk.com" target="_blank").icon.vk
        +b.documents.item.clearfix
            h5.title документация
            +e.A(href="").element документы
            +e.A(href="").element сертификаты
        +b.currency.item.clearfix
            h5.title курс нбу
            span.down Курс нбу : usd - 30.000
 
        +b.subscribe.item.clearfix
            h5.title Хочешь быть в курсе всех событий и акций?
            form(action="" name="subscribe-form" id="subscribe-form").clearfix
                .control
                    input(type="email" placeholder="Введите Ваш e-mail" data-validation="email" data-validation-error-msg="Недействительный адрес почты")
                button(type="submit").button.button--rounded Подписаться

