.breadcrumbs
    font-size 16px
    margin-top 37px
    line-height 20px
    &__passive
        color #5b5b5b
        cursor pointer
        text-decoration none
        &:hover
            color $dark-purple
    &__active
        cursor pointer
        margin-top 10px
        text-decoration none
        color $dark-purple