@font-face
	font-family 'helveticaneuecyr-black'
	src url('fonts/HelveticaNeueCyr-Black.otf')
@font-face
	font-family 'helveticaneuecyr-bold'
	src url('fonts/HelveticaNeueCyr-Bold.otf')

@font-face
	font-family 'helveticaneuecyr-light'
	src url('fonts/HelveticaNeueCyr-Light.otf')

@font-face
	font-family 'helveticaneuecyr-roman'
	src url('fonts/HelveticaNeueCyr-Roman.otf')

@font-face
	font-family 'helveticaneuecyr-ultralight_0'
	src url('fonts/HelveticaNeueCyr-UltraLight_0.otf')
