@import 'fonts'
@import 'grid'
@import 'lightslider.css'
@import 'colorbox.css'
@import 'jquery-ui-1.8.19.custom.css'
@import 'minimal.css'
@import 'ui-styles'


@import '../../components/navbar/navbar'
@import '../../components/button/button'

@import './pages/homepage'
@import './pages/about'
@import './pages/market'
@import './pages/delivery'

@import '../../components/footer/footer'