include /assets/bemto/bemto

doctype html
html(lang="zxx")
    include /components/head/head
    body
		
        block content

        include /components/footer/footer
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="assets/scripts/bundle.min.js")
