include /assets/bemto/bemto

doctype html
html(lang="zxx")
    include /components/head/head
    body
		
        block content

        include /components/footer/footer
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        block additional-scripts
        script(src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous")
        script(src="assets/scripts/bundle.min.js")

