include /mixins/main_mixins
-var item = {title:'Lorem ipsum Tempor sed ullamco quis culpa non.', date:'22.12.2016', image:'assets/images/smile.png', content:['Lorem ipsum Do ullamco ut dolore do sunt sed in ea ea dolore cillum Excepteur labore ad labore.'],className:'news'}
-var i = 0 
.container-fluid.news-container
    .row
        .news-inner-container.clearfix
            block heading
            
            .news-wrapper.clearfix
                block content
.container-fluid.pagination-container
    .row
        +b.pagination
            +e.A().element 1
            +e.A().element.pagination__element--active 2
            +e.A().element 3

